name: ci

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Verify duplicated file names
        run: ./scripts/verify-duplicated-file-name.sh
      - name: Verify internal links
        run: ./scripts/verify-links.sh
      - name: Verify internal link anchors
        run: ./scripts/verify-link-anchors.sh
